<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/board.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div class="header"><img class="logo" src=""></div>
    <div id="content" class="content">
        <div class="board">
            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">To Do</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="toDo"></div>
                </div>
            </div>
            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">In Progress</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="inProgress"></div>
                </div>
            </div>
            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">Testing</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="testing"></div>
                </div>
            </div>
            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">Done</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="done"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>