<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/header.css">
    <link rel="stylesheet" href="/templates/css/board.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/templates/javaScript/header.js"></script>
    <script src="/templates/javaScript/board.js"></script>
    <title>Document</title>
</head>

<body onload="updateHTML()">

    <div class="header"> <button class="openbtn" onclick="openNav()">☰ </button>
        <div id="mySidebar" class="sidebar">
            <a href="#" class="closebtn" onclick="closeNav()">×</a>
            <a href="#">Backlog</a>
            <a href="#">Board</a>
            <a href="#">Impressum</a>
            <a href="#">Help</a>

        </div>
    </div>

    <div id="content">

        <div id="board">
            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">To Do</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>

                    <div id="toDo" ondrop="drop('open')" ondragover="allowDrop(event)"></div>
                </div>
            </div>

            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">In Progress</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="inProgress" ondrop="drop('inProgress')" ondragover="allowDrop(event)"></div>
                </div>
            </div>

            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">Testing</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="testing" ondrop="drop('testing')" ondragover="allowDrop(event)"></div>
                </div>
            </div>

            <div>
                <div class="stack">
                    <div class="taskHeader">
                        <span class="taskHeaderName">Done</span>
                        <div>
                            <img src="/assets/icons8-menu-24.png">
                            <img src="/assets/icons8-plus-mathe-24.png">
                        </div>
                    </div>
                    <div id="done" ondrop="drop('done')" ondragover="allowDrop(event)"></div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>