<div class="main-container">
    <div class="class">
        <button class="openbtn" onclick="openNav()">☰</button>
    </div>

    <div class="user-logo">
        <img onclick="changeImg()" class="einhorn" src="/assets/Einhorn1.png" alt="">

    </div>


</div>
<div id="profileBox" class="d-none">
    <div class="profileBox">
        <h2>Your Profile</h2>

    </div>
</div>


<div id="mySidebar" class="sidebar">

    <div class="img-class">
        <img src="/assets/logo.png" alt="">
    </div>
    <div class="test">
        <a href="#" class="closebtn" onclick="closeNav()">×</a>
        <div class="j-center">
            <a href="/templates/html/backlog.html">Backlog</a>
            <a href="/templates/html/board.html">Board</a>
            <hr>
            <a class="mr-top" href="/templates/html/imprint.html">Impressum</a>
            <a href="#">Help</a>
            <hr>
            <a href="/templates/html/login.html">Logout</a>
        </div>


    </div>



</div>