<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/templates/javaScript/include.js"></script>
    <script type="text/javascript" src="/templates/javaScript/header.js"></script>
    <script type="text/javascript" src="/templates/javaScript/backlog.js"></script>
    <script src="/templates/javaScript/mini_backend.js"></script>
    <link rel="stylesheet" href="/templates/css/header.css">
    <link rel="stylesheet" href="/templates/css/backlog.css">
    <title>Document</title>
</head>

<body onload="includeHTML(), init()">
    <div w3-include-html="header.html" class="header">

    </div>