<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/css/login.css">
    <title>Join</title>
</head>
<body>
    <divv class="container">
        <form class="form" id="login">
            <h1 class="form_title">Login</h1>
            <div class="form_massage form_massage_error">Incorrect username/password combination.</div>

            <div class="form_input_group">
                <input type="text" class="form_input" autofocus placeholder="Username or email">
                <div class="form_input_error_essage">This is an error message</div>
            </div>
            <div class="form_input_group">
                <input type="password" class="form_input" autofocus placeholder="password">
                <div class="form_input_error_essage"></div>
            </div>

            <button class="form_button" type="submit">Continue</button>

            <p class="form_text">
                <a href="#" class="form_link">Forgot your password? </a>
            </p>

            <p class="form_text">
                <a class="form_link" href="./" id="link_create_account" >Don't have an account? Create account. </a>
            </p>


        </form>
        
    </div>
    
</body>
</html>