/* font-family: 'PT Sans', sans-serif; */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: #edeeef;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #1e3190;
}

#content {
    height: 100%;
    width: 100%;
    max-height: calc(100% - 50px);
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #31363b;
}

#board {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding-left: 16px;
}

.stack {
    margin-left: 6px;
    margin-right: 6px;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.taskHeader img {
    padding: 12px;
}

.taskHeader img:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: #45484c;
}

.taskHeaderName {
    font-family: 'PT Sans';
    font-size: 24px;
}

.taskCard {
    width: 250px;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #fa2759;
    border-radius: 8px;
}

.taskCardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 24px;
}

.taskCardDescription {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #fa2759;
}

.taskCardFooter {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #fa2759;
}

.taskCardFooter img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.taskCardFooter img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#toDo {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

#inProgress {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

#testing {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}

#done {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}