::-webkit-scrollbar {
    display: none;
}
/* font-family: 'PT Sans', sans-serif; */
/* Just the content div some css */
#content {
    height: 100%;
    width: 100%;
    max-height: calc(100% - 50px);
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #31363b;
}
/* Just the content div some css End */
/*******************************************************************************************************************/
/* The hole board section */
#board {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    padding-left: 16px;
}

.stack {
    margin-left: 6px;
    margin-right: 6px;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.taskHeader img {
    padding: 12px;
}

.taskHeader img:hover {
    cursor: pointer;
    border-radius: 100%;
    background-color: #45484c;
}

.taskHeaderName {
    font-family: 'PT Sans';
    font-size: 24px;
}
/* The hole board section End*/
/*******************************************************************************************************************/
/* Single task card CSS */
.taskCard {
    width: 250px;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid;
    border-radius: 8px;
    font-family: sans-serif;
    box-shadow: 0px 0px 12px 0px rgb(150, 150, 150);
}

.taskCard:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 225ms ease-in-out;
}

.taskCardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 24px;
}

.taskCardDescription {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 12px 8px 12px 8px;
    border-top: 1px solid;
}

.taskCardFooter {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 0px 8px;
    border-top: 1px solid;
}

.taskCardEditors {
    display: flex;
    align-items: center;
}

.taskCardEditors img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 100%;
}

.taskCardEditors img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out;
}

.taskCardOptions img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in-out;
}
/* Single task card CSS End */
/*******************************************************************************************************************/
/* Tasks div id styles */
#toDo {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    overflow-y: auto;
}

#inProgress {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    overflow-y: auto;
}

#testing {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    overflow-y: auto;
}

#done {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    overflow-y: auto;
}
/* Tasks div id styles End */
/*******************************************************************************************************************/
/* The Colors for how Important a Task is and when its done it gets a diffrent color */
.high {
    border-color: #fa2759 !important;
}

.medium {
    border-color: #DDCB55 !important;
}

.low {
    border-color: #2DFCD8 !important;
}

.done {
    border-color: #A0CB1C !important;
}
/* The Colors for how Important a Task is and when its done it gets a diffrent color End */
/*******************************************************************************************************************/

.displayNone {
    display: none !important;
}

#addTask {
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: #1E3190;
    padding: 32px;
}

.addTaskInput {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.addTaskEditor {
    display: flex;
    align-items: center;
}

.addTaskEditor img {
    margin-right: 16px;
}

.addTaskEditor img:hover {
    cursor: pointer;
}


.addTaskEditors {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}

.addTaskButtons {
    display: flex;
    justify-content: flex-end;
}

h2 {
    font-size: 20px;
}

.padding8px {
    padding: 8px;
}

textarea {
    padding: 8px;
    height: 100px;
    resize: none;
}

.button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    margin-top: 16px;
    margin-left: 8px;
    border: 0px solid;
    border-radius: 8px;
    background-color: #1E3190;
}

button:hover {
    cursor: pointer;
    background-color: #fa2759;
}