body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    /* overflow: hidden; */
    color: #edeeef;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #1e3190;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e3190;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.4s ease-in-out;
}

.sidebar a {
    padding: 8px 8px 8px 82px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.img-class {
    padding: 8px 8px 8px 82px;
}

.sidebar a:hover {
    background-color: #31363b;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: -55px;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1e3190;
    color: white;
    padding: 12px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.test {
    margin-top: 40px;
}

.mr-top {
    margin-top: 150px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: end;
}

.user-logo img {
    width: 40px;
    border-radius: 50%;
}

.user-logo img:hover {
    cursor: pointer;
}


/* ---------------------Imprrint-------------------*/

.container {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #31363b99;
    height: 100%;
    overflow: hidden;
    color: white;
}

a {
    color: #1e3190;
}