body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    color: #edeeef;
}

.header {
    height: 51px;
    width: 100%;
    background-color: #1e3190;
    box-shadow: 0px 0px 12px 0px rgb(150 150 150);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e3190;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 12px 0px rgb(150 150 150);
}

.sidebar a {
    /* padding: 8px 8px 8px 82px; */
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    /* display: block; */
    display: flex;
    justify-content: center;
    /* left: 0;
    right: 0; */
    width: 100%;
}

.img-class {
    display: flex;
    justify-content: center;
}

.sidebar a:hover {
    background-color: #31363b;
}

.sidebar .closebtn {
    position: absolute;
    padding: 5px 15px;
    top: 0;
    width: 6%;
    /* left: -15px; */
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #1e3190;
    color: white;
    padding: 12px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
    padding: auto;
}

.test {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mr-top {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px; */
    padding-right: 20px;
    align-items: end;
}

.user-logo img {
    width: 40px;
    border-radius: 50%;
}

.user-logo img:hover {
    cursor: pointer;
}

.j-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

hr {
    width: 100%;
}

.profileBox {
    background-color: black;
    width: 25%;
    height: 25%;
    position: absolute;
    right: 0;
}

h2 {
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}


/* ---------------------Imprrint-------------------*/

.container {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #31363b99;
    height: 100%;
    color: white;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

a {
    color: #1e3190;
}